
.background {
  fill: none;
  pointer-events: all; 
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill:#7AB8E3;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
